{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/lista_p.css' %}">
    <title>Consultar Usuários</title>

{% endblock style %}

<h1>Lista de Pessoas</h1>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Matrícula</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.matricula }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'cadastrar_usuario' %}">Adicionar Nova Pessoa</a>
<a href="{% url 'Home' %}">Voltar a página principal</a>