{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block style %}
        <link rel="stylesheet" href="{% static 'css/css_consulta/consulta.css' %}">
    {% endblock style %}

    <title>Consultar Usuários</title>
</head>
<body>
    {% block main %}
        <h1>Lista de Pessoas Cadastradas</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Matrícula</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.nome }}</td>
                    <td>{{ usuario.matricula }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{% url 'cadastrar_usuario' %}">Adicionar Novo Usuário</a>
        <a href="{% url 'Home' %}">Voltar a página principal</a>
    {% endblock main %}
</body>
</html>