{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block style %}
        <link rel="stylesheet" href="{% static 'css/css_consulta/consulta.css' %}">

        <title>Consulta do Acervo</title>

    {% endblock style %}
</head>
<body>

    {% block main %}
        <h1>Acervo de Livros</h1>

        <ul class="lista-livros">
            {% for livro in livros %}
                <li class="livro-item">
                    <div class="detalhes-livro">
                        <span class="livro-titulo"><strong>Titulo:</strong> {{ livro.titulo }}</span><br>
                        
                        <strong>Autor:</strong> {{ livro.autor }}<br>
                        
                    </div>
                    <div class="emprestimo">
                        <span class="status"><strong>{{ livro.exemplares }}</strong> {{ livro.status }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
            
        <a href="{% url 'solicitar_emprestimo' %}" class="botao-emprestar">Empréstimo</a>
        <a href="{% url 'cadastrar_livro' %}">Adicionar novo livro</a>
        <a href="{% url 'Home' %}">Voltar a página principal</a>
    {% endblock main %}
</body>
</html>