{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block style %}
        <link rel="stylesheet" href="{% static 'css/css_solicitacoes/solicitacoes.css' %}">
    {% endblock style %}

    <title>Devolução de Livro</title>
</head>
<body>
    <div class="container">
        <h1>Solicitar Devolução do Livro</h1>

        <form method="POST" action="{% url 'solicitar_devolucao' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="usuario_id">ID da Pessoa:</label>
                <input type="text" id="usuario_id" name="usuario_id" placeholder="Digite o ID do usuário" required>
            </div>

            <div class="form-group">
                <label for="livro_id">ID do Livro:</label>
                <input type="text" id="livro_id" name="livro_id" placeholder="Digite o ID do livro" required>
            </div>

            <button type="submit" id="buttons">Devolver Livro</button>
            <a href="{% url 'solicitar_emprestimo' %}">Solicitar Empréstimo</a>
            <a href="{% url 'Home' %}">Voltar a página principal</a>

        </form>
    </div>
</body>
</html>
