{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block style %}
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% endblock style %}

    <title>Página Inicial</title>
</head>
<body>

    {% block main %}
            <ul>
                <h1>Página Principal</h1>
                <li><a href="{% url 'cadastrar_usuario' %}">Cadastrar Usuário</a></li>
                <li><a href="{% url 'cadastrar_livro' %}">Cadastrar Livro</a></li>
                <li><a href="{% url 'consultar_usuarios' %}">Consultar Usuários</a></li>
                <li><a href="{% url 'consultar_acervo' %}">Consultar Acervo</a></li>
                <li><a href="{% url 'solicitar_emprestimo' %}">Solicitar Empréstimo</a></li>
                <li><a href="{% url 'solicitar_devolucao' %}">Devolver Livro</a></li>
                <li><a href="">Alterar Dados do Usuário</a></li>
                <li><a href="">Remover Usuário</a></li> 
            </ul>
    {% endblock main %}
</body>
</html>