{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block style %}
        <link rel="stylesheet" href="{% static 'css/lista_l.css' %}">
    {% endblock style %}

    <title>Página Inicial</title>
</head>
<body>

    {% block main %}
        <h1>Página Principal</h1>
            <ul>
                <li><a href="{% url 'cadastrar_usuario' %}">Cadastrar Usuário</a></li>
                <li><a href="{% url 'lista_pessoas' %}">Consultar Usuários</a></li>
                <li><a href="{% url 'cadastrar_livro' %}">Cadastrar Livro</a></li>
                <li><a href="{% url 'lista_livros' %}">Consultar Acervo</a></li>
                <li><a href="{% url 'solicitar_emprestimo' %}">Solicitar Empréstimo</a></li>
                <li><a href="{% url 'devolucao' %}">Devolver Livro</a></li>
                {% comment %} <li><a href="{% url 'alterar_usuario' %}">Alterar Dados do Usuário</a></li>
                <li><a href="{% url 'remover_usuario' %}">Remover Usuário</a></li> {% endcomment %}
            </ul>
    {% endblock main %}
</body>
</html>